<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">
    <a class="navbar-item" href="https://bulma.io">
      <img src ="assets/img/HBO_Video.png" width="40" height="40">
    </a>
    <div class="navbar-start">
      <a class="navbar-item" routerLink = "/home">
        Home
      </a>
      <a class="navbar-item" routerLink = "/add-movie">
        Add Movie
      </a>
      <a class="navbar-item" routerLink = "/top5">
        Top5 Movies
      </a>
    </div>
  </div>
</nav>

